<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script>
    var socket = io.connect('http://localhost:3000');
    jQuery(function(){
      $("#messageForm").submit(function(e){
        e.preventDefault();
        socket.emit('chat-message', $('input[name="message"]').val());
      });
    });
  </script>
</head>
<body>
    <h1> Username: <%= loggedUser.username %> </h1>
    People online:
    <ul>
      <% for (var user of onlineUsers) { %>
              <li><button class="friend"><%= user.username %></button></li>
      <% } %>
    </ul>
    <form id="messageForm">
      <input type="text" name="message" placeholder="Enter message">
      <input type="submit" vlue="Submit">
    </form>
</body>
</html>