<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/styles/homepage.css"/>
    <script src="/js/animations.js" defer></script>

    <!-- <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/js/chat.js" defer></script>
    <title>Homepage</title>
</head>
<body>
    <main>
        <div class="header">
            <div class="logo">
                <img class="logoImg" src="images/yt-logo-transparent-background.png">
            </div>
            <div class="sBar">  
                <input class="searchBarInput" type="text" placeholder="Search for friends / groups">
            </div>
            <div class="addFriend">
                <button class="addFriendBtn">Add Friend</button>
            </div>
            <section class="nav">
                <div class="navFlex">
                    <button class="accBtn" type="button" id="loggedUser" data-id="<%= loggedUser._id %>"> <%= loggedUser.username %> </button> <!-- Account -->
                    <button class="homeBtn" type="button">Home</button>
                    <button class="backBtn" type="button">Back</button>
                </div>
            </section>

            <div class="logo-nav-separator">
                <div class="separator-border">
                </div>
            </div>
        </div>
        <aside class="Lsidebar">
            <div class="contacts" style="grid-area: contacts;">
                    <% if(onlineUsers.length != 0) { %>
                        <% for(let user of onlineUsers) { %> 
                            <div class="friend">
                                <img class="friendImg" src="images/preview.jpeg" width="45px">
                                <p data-id="<%= user._id %>" class="friendName"><%= user.username %></p>
                            </div>
                        <% } %>
                    <% } else { %> 
                        <div class="friend">
                                <p id="default-li">No online users.</p>
                        </div>
                    <% } %>
            </div>
            <div class="arrow" style="
            grid-area: leftArrow;
            grid-row: 1/2 !important;
            grid-column: 2/3 !important;
            border-width: 0 0 0 1px;
            box-shadow: -3.5px 0 5px -5px #000;
            justify-self: end;">
                <img class="arrow-img" src="images/arrow3.png" width="10px" style="transform: rotate(180deg);">
            </div>
        </aside>
        <section class="chatSection">
            <section class="chatOpt">
                <div class="currnetChatAccDiv">
                    <label class="currnetChatAcc" style="color: white;">Chat Options Here</label>
                </div>
            </section>
            <section>
                    <div class="chat-window">
                            <div id="chat-title">
                              <h4>No active chat</h4>
                            </div>
                            <div id="chat-body"> 
                              <h5 id="default-msg">No messages</h5>       
                            </div>
                            <div id="chat-footer">
                                <input type="text" name="message" placeholder="Enter message">
                                <input id="send-msg-btn" type="submit" value="Send">
                            </div>
                    </div>
            </section>
            <section class="currMessage">
                <div class="currnetMessageDiv">
                    <label class="currnetMessage" style="color: #b0b3b8;">Current Message</label>
                </div>
            </section>
        </section>
        <aside class="Rsidebar">
            <div class="groups" style="grid-area: groups;">
                <div class="friend" style="border-left: 1px solid white;border-top: 1px solid white;border-bottom: 1px solid white;" id="new-room">
                    <img height="50px" src="https://img.icons8.com/nolan/64/plus.png"/>
                    <p class="friend2Name">New room</p>
                    <!-- New room dialog -->
                    <div style="display: inline-block;float:right;">
                            <div id="create-room-form-wrapper" style="display:none;border: 1px solid black; padding: 15px;position:absolute;">
                                <input type="text" id="room-name" placeholder="Enter room name">
                                <div id="online-users"></div>
                                <button id="create-room" type="button">Create</button>
                            </div>
                    </div>
                </div>
                <!-- <div class="friend">
                    <img class="friendImg" src="images/preview.jpeg" width="45px">
                    <label class="friend2Name">Hristian Tachev</label>
                </div> -->
            </div>
            <div class="arrow" style="
            grid-area: rightArrow;
            grid-row: 1/2 !important;
            grid-column: 1/2 !important;
            border-width: 0 1px 0 0;
            box-shadow: 3.5px 0 5px -5px #000;
            justify-self: start;">
                <img class="arrow-img" src="images/arrow3.png" width="10px" style="transform: rotate(0deg);">
            </div>
        </aside>
    </main>
</body>
</html>