* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #b0b3b8;
}

main {
    font: 400 14px Arial;
    letter-spacing: 0.3px;
    height: 100vh;
    background-color: rgb(22, 22, 22);
    display: grid;
    grid-template-rows: 1fr 50px 1fr 7fr 1fr;
    grid-template-columns: 0.5fr 1.5fr 6fr 1.5fr 0.5fr;
    grid-template-areas: 
    "header header header header header"
    ". . . . ."
    "Lsidebar . chatSection . Rsidebar"
    "Lsidebar . chatSection . Rsidebar"
    "Lsidebar . chatSection . Rsidebar";
}

button,
.button {
    padding: 8px 20px;
    background-color: rgb(47, 47, 47);
    color: #fff;
    border: none;
    border-radius: 2rem;
    outline: none;
    cursor: pointer;
}

input {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 2rem;
    outline: none;
    cursor: text;
}

a {
    color: #fff;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.header {
    grid-area: header;
    position: relative;
    z-index: 3;
    background-color: rgb(27, 27, 27);
    border: rgb(59, 59, 59);
    border-style: solid;
    border-width: 0 0 1px 0;
    box-shadow: 0 0 15px #000;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1.5fr 5fr 1.65fr 0.85fr;
    grid-template-areas: 
    "logo logo-nav-separator nav sBar sBar";
}

.header > div, .header > section {
    display: inline-block;
}

.logo {
    grid-area: logo;
}

.logoImg {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 60px;
}

.separator-border{
    display: block;
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    border-left: rgb(59, 59, 59);
    border-style: solid;
    border-width: 0 0 0 1px;
    box-shadow: -4px 0 5px -5px #000;
}

.nav{
    grid-area: nav;
}

.navFlex {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    margin: 0 25%;
}

.sBar {
    grid-area: sBar;
}

.searchBarInput {
    display: block;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
}

.addFriend {
    grid-area: addFriend;
}

.addFriendBtn {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
}

.Lsidebar {
    grid-area: Lsidebar;
    grid-row: 2/6;
    grid-column: 1/3;
    padding-top: 4px;
    border: rgb(59, 59, 59);
    border-style: solid;
    border-width: 0 1px 0 0;
    box-shadow: 0 -1px 7px #000;

    display: grid;
    grid-template-rows: 63px 1fr;
    grid-template-columns: 9fr 1fr;
    grid-template-areas:
    "contactsHeader contactsHeader"
    "contacts contacts";
}

.addFriendMarginDecrease {
    animation-name: addFriendMarginDecrease;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.addFriendMarginIncrease {
    animation-name: addFriendMarginIncrease;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.close-Lsidebar {
    animation-name: closeSidebar;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.open-Lsidebar {
    animation-name: openSidebar;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.contacts {
    grid-row: 2/3;
    grid-column: 1/2;
    overflow-y:auto;
}

.contactsHeader {
    grid-row: 1/2;
    grid-column: 1/3;
}

.addFriendModalWindow {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

.addFriendModalWindowContent {
    height: 50%;
    background-color: rgb(22, 22, 22);
    margin: 6% auto;
    padding: 15px;
    border: 1px solid #888;
    border-radius: 1rem;
    width: 35%;
}

.addFriendModalContentGrid {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 6fr 4fr;
    grid-template-areas: 
    "username Id"
    "sendFriendRequest sendFriendRequest";
}

.lineInput {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid rgb(75, 75, 75);
    background-color: #161616;
    padding: 2px 5px;
    font-size: 16px;
}

.lineInput:active,
.lineInput:focus {
    border-bottom: 2px solid #ccc;
}

.username {
    grid-area: username;
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    width: 100%;
}

.usernameInput {
    width: 90%;
}

.Id {
    grid-area: Id;
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    width: 100%;
}

.IdInput {
    width: 80%;
}

.sendFriendRequest {
    grid-area: sendFriendRequest;
    grid-row: 2/3;
    grid-column: 1/2;
    display: inline-block;
    justify-self: start;
    align-self: center;
    width: 20%;
}

.sendFriendRequestBtn {
    border-radius: 0;
    background-color: #161616;
    border-bottom: 2px solid rgb(75, 75, 75);
}

.sendFriendRequestBtn:hover {
    background-color: #2f2f2f;
    border-bottom: 2px solid #ccc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.sendFriendRequestBtn:active {
    background-color: #222222;
}

.errorMessage {
    opacity: 0;
    grid-row: 2/3;
    grid-column: 1/3;
    display: inline-block;
    justify-self: end;
    align-self: center;
    border: 1px solid #D8000C;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #ff9494;
    width: 70%;
    height: 100%;
}

.showAlert {
    animation-name: opacity0to1;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.hideAlert {
    animation-name: opacity1to0;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.showAndCloseAlert {
    animation-name: opacity0to1to0;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    /* animation-fill-mode: forwards; */
}

.errorMessageDivWrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 9fr;
}

.errorMsgWrapper{
    position: relative;
    display: inline-block;
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: start;
    align-self: center;
}

.errorMsg {
    color: #D8000C;
    font-size: 14px;
    font-weight: 600;
    position: relative;
}

.errorImgWrapper {
    display: inline-block;
    position: relative;
    height: 15px;
    margin-left: 8px;
    margin-right: 8px;
    color: #D8000C;
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: center;   
    align-self: center;
}

.modalCloseBtn {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: end;
    position: relative;
    display: inline-block;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
  
.modalCloseBtn:hover,
.modalCloseBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.friend {
    padding: 8px 5px;
    display: grid;
    grid-template-rows: 45px;
    grid-template-columns: 45px 1fr;
}

.group {
    position: relative;
    padding: 8px 5px;
    display: grid;
    grid-template-rows: 45px;
    grid-template-columns: 45px 1fr;
    margin-left: 24px;
}

.friendImg {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 2;
}

.friendName {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    margin-left: 10px;

    font: 400 14.53px Arial;
    color: #e4e6eb;
}

.friendNameSmollAnimation {
    animation-name: friendNameSmoll;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.friendNameBigAnimation {
    animation-name: friendNameBig;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.arrow {
    z-index: 2;
    opacity: 15%;
    height: 70px;
    padding: 0 0.5em;
    align-self: center !important;
    border: rgb(59, 59, 59);
    border-style: solid;
    cursor: pointer;
}

.arrow:hover {
    opacity: 100%;
}

.arrowOpacityDecrease {
    animation-name: opacityDecrease;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.arrow-img{
    display: block;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}

.rotateArrowClose {
    animation-name: rotateArrowClose;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.rotateArrowOpen {
    animation-name: rotateArrowOpen;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.chatSection {
    grid-area: chatSection;
    width: 80%;
    margin: 0 auto;
 
    border: rgb(59, 59, 59);
    border-style: solid;
    border-width: 0 1px 0 1px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-width: 1px 1px 0 1px;
    box-shadow: 0 0 15px #000;

    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "chatOpt"
    "."
    "currMessage";
}

.chatOpt {
    grid-area: chatOpt;
    display: grid;
    margin: 1rem;
    justify-self: center;
}

.currnetChatAccDiv {
    justify-self: start;
    align-self: center;
}

.currMessage {
    grid-area: currMessage;
    display: grid;
    margin: 1rem;
    justify-self: center;
}

.currnetMessageDiv{
    justify-self: start;
    align-self: center;
}

.Rsidebar {
    grid-area: Rsidebar;
    grid-row: 2/6;
    grid-column: 4/6;
    padding-top: 4px;
    width: 100%;
    justify-self: end;
    border: rgb(59, 59, 59);
    border-style: solid;
    border-width: 0 0 0 1px;
    box-shadow: 0 0 7px #000;

    display: grid;
    grid-template-rows: 63px 1fr;
    grid-template-columns: 1fr 9fr;
    grid-template-areas:
    "groupsHeader groupsHeader"
    "groups groups";
}

.groupsHeader {
    grid-row: 1/2;
    grid-column: 1/3;
}

.createGroupModalContentGrid {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr 5.5fr 1fr;
    grid-template-columns: 5fr 5fr;
}

.groupName {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}

.listOfFriends {
    justify-self: center;
    align-self: center;
    background-color: #141414;
    width: 90%;
    height: 95%;
    margin-top: 5%;
    border-radius: 1rem;
    border: 1px solid #888;
    overflow-y: auto;

    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
}

.allFriendsHeader {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
}

.allFriendsHeaderLabel {
    display: block;
    position: relative;
    width: 125px;
    margin: 8px auto;
    color: #6d6d6d;
    font: 600 13.35px Arial;
}

.allFriendsHeaderBottomBroder {
    height: 20px;
    border-top: 1px solid #888;
    border-top-left-radius: 1rem;
    background-color: transparent;
}

.allFriends {
    grid-row: 1/3;
    grid-column: 1/2;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 2px;
    overflow-y: auto;
}

.friendInList {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30px 1fr;
    width: 93%;
    height: auto;
    position: relative;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-bottom: 2px solid #252525;
}

.friendInListImg {
    grid-row: 1/2;
    grid-column: 1/2;
}

.friendInListName {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-left: 10px;
    justify-self: start;
    align-self: center;
}

.groupPhoto {
    grid-row: 1/3;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

.changeGroupPhoto {
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

/* .listOfAddedFriends {
    grid-row: 4/5;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
} */

.createGroupBtn {
    grid-row: 5/6;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

.groups {
    grid-row: 2/3 !important;
    grid-column: 1/3 !important;
    overflow-y:auto;
}

.friend2Name {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    margin-left: 10px;

    font: 400 14.53px Arial;
    color: #e4e6eb;
}

.close-Rsidebar {
    animation-name: closeSidebar;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.open-Rsidebar {
    animation-name: openSidebar;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes closeSidebar {
    0% {width: 100%;}
    100%{width: 25%;}
}
@keyframes openSidebar {
    0% {width: 25%;}
    100%{width: 100%;}
}
@keyframes rotateArrowOpen {
    0% {transform: rotate(0deg);width: 10px;margin: 0;}
    50%{transform: rotate(90deg);width: 5px;margin: 6.65px 2.5px;}
    100%{transform: rotate(180deg);width: 10px;margin: 0;}
}
@keyframes rotateArrowClose {
    0% {transform: rotate(180deg);width: 10px;margin: 0;}
    50%{transform: rotate(270deg);width: 5px;margin: 6.65px 2.5px;}
    100%{transform: rotate(360deg);width: 10px;margin: 0;}
}
@keyframes friendNameSmoll {
    0% {font-size: 14.53px;margin-left: 10px;}
    100%{font-size: 0px;margin-left: 0px;}
}
@keyframes friendNameBig {
    0% {font-size: 0px;margin-left: 0px;}
    100%{font-size: 14.53px;margin-left: 10px;}
}
@keyframes opacityDecrease {
    0% {opacity: 100%;}
    80%{opacity: 100%;}
    100%{opacity: 15%;}
}
@keyframes addFriendMarginDecrease {
    0%{margin-left: 82%;width: 20px;}
    100%{margin-left: 3px;width: 13px;}
}
@keyframes addFriendMarginIncrease {
    0%{margin-left: 3px;width: 13px;}
    100%{margin-left: 82%;width: 20px;}
}
@keyframes opacity0to1 {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes opacity1to0 {
    0%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes opacity0to1to0 {
    0%{opacity: 0;}
    5%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0;}
}

.friend:hover{
    cursor: pointer;
}

.friendName {
    pointer-events: none;
}

/* Homepage chat styling */
h3#loggedUser, h3#loggedUser > #username{
    color: white;
}

.chat-window{
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    height: 500px;
    border: 4px solid black;
  }

  #chat-title{
    border-bottom: 2px solid black;
    padding: 10px;
  }

  .chat-body{
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    border-left: 1px solid green;
    border-right: 1px solid green;
    padding: 10px;
    overflow-y: scroll;
  }

  #chat-footer{
    padding: 5px;
    float: right;
  }

  #messageForm{
    float: right;
  }

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.active{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}