* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #b0b3b8;
}

main {
    font: 400 14px Arial;
    letter-spacing: 0.3px;
    height: 100vh;
    background-color: rgb(22, 22, 22);
    display: grid;
    grid-template-rows: 1fr 50px 1fr 7fr 1fr;
    grid-template-columns: 0.5fr 1.5fr 6fr 1.5fr 0.5fr;
    grid-template-areas: 
    "header header header header header"
    ". . . . ."
    "Lsidebar . chatSection . Rsidebar"
    "Lsidebar . chatSection . Rsidebar"
    "Lsidebar . chatSection . Rsidebar";
}

button {
    padding: 8px 20px;
    background-color: rgb(47, 47, 47);
    color: #fff;
    border: none;
    border-radius: 2rem;
    outline: none;
    cursor: pointer;
}

input {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 2rem;
    outline: none;
    cursor: text;
}

a {
    color: #fff;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.header {
    grid-area: header;
    position: relative;
    z-index: 3;
    background-color: rgb(27, 27, 27);
    border: rgb(59, 59, 59);
    border-style: solid;
    border-width: 0 0 1px 0;
    box-shadow: 0 0 15px #000;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1.5fr 5fr 1.65fr 0.85fr;
    grid-template-areas: 
    "logo logo-nav-separator nav sBar addFriend";
}

.header > div, .header > section {
    display: inline-block;
}

.logo {
    grid-area: logo;
}

.logoImg {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 60px;
}

.separator-border{
    display: block;
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    border-left: rgb(59, 59, 59);
    border-style: solid;
    border-width: 0 0 0 1px;
    box-shadow: -4px 0 5px -5px #000;
}

.nav{
    grid-area: nav;
}

.navFlex {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    margin: 0 25%;
}

.sBar {
    grid-area: sBar;
}

.searchBarInput {
    display: block;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
}

.addFriend {
    grid-area: addFriend;
}

.addFriendBtn {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
}

.Lsidebar {
    grid-area: Lsidebar;
    grid-row: 2/6;
    grid-column: 1/3;
    padding-top: 4px;
    border: rgb(59, 59, 59);
    border-style: solid;
    border-width: 0 1px 0 0;
    box-shadow: 0 -1px 7px #000;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 9fr 1fr;
    grid-template-areas:
    "contacts contacts";
}

.close-Lsidebar {
    animation-name: closeSidebar;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.open-Lsidebar {
    animation-name: openSidebar;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.contacts {
    grid-row: 1/2;
    grid-column: 1/2;
    overflow-y:auto;
}

.friend1 {
    padding: 8px 5px;
    /* border: rgb(59, 59, 59);
    border-style: solid;
    border-width: 0 0 1px 0; */
    display: grid;
    grid-template-rows: 45px;
    grid-template-columns: 45px 1fr;
}

.friend1Img {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 2;
}

.friend1Name {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    margin-left: 10px;

    font: 400 14.53px Arial;
    color: #e4e6eb;
}

.friend1NameSmollAnimation {
    animation-name: friendNameSmoll;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.friend1NameBigAnimation {
    animation-name: friendNameBig;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.arrow {
    z-index: 2;
    opacity: 15%;
    height: 70px;
    padding: 0 0.5em;
    align-self: center !important;
    border: rgb(59, 59, 59);
    border-style: solid;
    cursor: pointer;
}

.arrow:hover {
    opacity: 100%;
}

.arrowOpacityDecrease {
    animation-name: opacityDecrease;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.arrow-img{
    display: block;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}

.rotateArrowClose {
    animation-name: rotateArrowClose;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.rotateArrowOpen {
    animation-name: rotateArrowOpen;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.chatSection {
    grid-area: chatSection;
    width: 80%;
    margin: 0 auto;
 
    border: rgb(59, 59, 59);
    border-style: solid;
    border-width: 0 1px 0 1px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-width: 1px 1px 0 1px;
    box-shadow: 0 0 15px #000;

    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "chatOpt"
    "."
    "currMessage";
}

.chatOpt {
    grid-area: chatOpt;
    display: grid;
    margin: 1rem;
    justify-self: center;
}

.currnetChatAccDiv {
    justify-self: start;
    align-self: center;
}

.currMessage {
    grid-area: currMessage;
    display: grid;
    margin: 1rem;
    justify-self: center;
}

.currnetMessageDiv{
    justify-self: start;
    align-self: center;
}

.Rsidebar {
    grid-area: Rsidebar;
    grid-row: 2/6;
    grid-column: 4/6;
    padding-top: 4px;
    width: 100%;
    justify-self: end;
    border: rgb(59, 59, 59);
    border-style: solid;
    border-width: 0 0 0 1px;
    box-shadow: 0 0 7px #000;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 9fr;
    grid-template-areas:
    "groups groups";
}

.groups {
    grid-row: 1/2 !important;
    grid-column: 1/3 !important;
    padding-left: 24px;
    overflow-y:auto;
}

.friend2Name {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    margin-left: 10px;

    font: 400 14.53px Arial;
    color: #e4e6eb;
}

.close-Rsidebar {
    animation-name: closeSidebar;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.open-Rsidebar {
    animation-name: openSidebar;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes closeSidebar {
    0% {width: 100%;}
    100%{width: 25%;}
}
@keyframes openSidebar {
    0% {width: 25%;}
    100%{width: 100%;}
}
@keyframes rotateArrowOpen {
    0% {transform: rotate(0deg);width: 10px;margin: 0;}
    50%{transform: rotate(90deg);width: 5px;margin: 6.65px 2.5px;}
    100%{transform: rotate(180deg);width: 10px;margin: 0;}
}
@keyframes rotateArrowClose {
    0% {transform: rotate(180deg);width: 10px;margin: 0;}
    50%{transform: rotate(270deg);width: 5px;margin: 6.65px 2.5px;}
    100%{transform: rotate(360deg);width: 10px;margin: 0;}
}
@keyframes friendNameSmoll {
    0% {font-size: 14.53px;margin-left: 10px;}
    100%{font-size: 0px;margin-left: 0px;}
}
@keyframes friendNameBig {
    0% {font-size: 0px;margin-left: 0px;}
    100%{font-size: 14.53px;margin-left: 10px;}
}
@keyframes opacityDecrease {
    0% {opacity: 100%;}
    80%{opacity: 100%;}
    100%{opacity: 15%;}
}