* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

label {
    font-weight: bold;
    color: #494949;
}

input {
    font: inherit;
    border: none;
    border-bottom: 2px solid #ccc;
    color: #494949;
    display: block;
    margin: 1rem 0;
}

input:focus {
    outline: none;
    border-color: #ff0062;
}

.inline-controls {
    display: flex;
}

.control {
    margin: 1rem;
}

button {
    border: 2px solid #000000;
    color: white;
    padding: 1rem 2rem;
    border-radius: 50px;
    background: #ff0062;
}

body {
    padding-top:4.2rem;
    padding-bottom:4.2rem;
    background:rgba(0, 0, 0, 0.76) !important;
}

a {
    text-decoration:none !important;
}

.myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}

.tx-tfm{
    text-transform:uppercase;
}

.mybtn{
    border-radius:50px !important;
}

.botMargin0 {
    margin-bottom: 0rem !important;
}